<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>actgenelife.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>cos_doubles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>dispgenegol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>dispgenelife.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>fastgenegol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>genelife.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>genelife.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>genelifed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ilog2test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>libgene.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>lsb64.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>probtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0D2CB7371F569D280013B2E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D2CB7451F569D9A0013B2E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DA8D9C4214357B600B4B324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>521C1455214DDE9400E17A8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>521C1463214DDF0400E17A8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>521FDCE11F287A6100F08FFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52416DA41F27425C00721D17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52416DB51F27771500721D17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5275A1271F292FA40062765F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>528F91911F2F9895008DD596</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
